<link rel="stylesheet" href="/css/sign-in.css">
<div class="container-fluid bg-primary position-fixed  d-flex justify-content-center" style="height: 100vh;">
    <div class="row" id="signin-conatiner" style="height: 100px; ">
        <div class="col-4 w-100 d-flex justify-content-center p-2" >
            <div class="card " style="width: 30vw;">
                <div class="card-body">
                  <h2 class="card-title text-center">Login</h2>
                  <form action="/employees/create-session" method="post">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" name="email">
                        <label for="emailInput">Email address</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
                        <label for="passwordInput">Password</label>
                      </div>
                      <div class="text-center mt-1s">
                        <a href="/employees/forgotPasswordPage">Forgotten Password</a>
                      </div>
                      <br>
                      <input type="submit" value="Sign In" class="btn btn-primary w-100 fs-5">
                  </form>
                  <br>
                  <div class="text-center mt-2 p-2">
                    <Span >Don't have an account? </Span><a href="/employees/sign-up">Sign up</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>